.container {
    width: 1440px;
    margin: 0 auto;
}

.btnAgree {
    font-size: 16px;
}

.btnAgree > button {
    font-size: 16px;
}

.btnAgree > button:last-child{
    margin-left: 20px;
}

.tableContainer {
    width: 720px;
    height: 449px;
}

.table {
    margin-top: 20px;
    width: 720px;
    text-align: left;
}

.tableResult > td {
    font-weight: bold;
}
.tableResult > td:first-child {
    font-weight: normal;
}