.header {
    display: flex;
    justify-content: space-between;
    padding: 36px 0;
}

.text {
    font-size: 32px;
    font-weight: bold;
    line-height: 68px;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom, rgba(0, 147, 208, 1), rgba(0, 37, 115, 1));
    font-family: 'Inter-Bold', sans-serif;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo {
    height: 58px;
    display: flex;
    align-items: center;
}

.logo > img {
    width: 100%;
    height: 100%;
}

.logo:first-child {
    margin-right: 60px;
}